body {
background-image: url(file:///C:/Users/Icesmooth/Desktop/code/week-4-game/assets/images/wallpaper3.jpg);

background-repeat: no-repeat;
background-size: 2000px 2000px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
color: red;


}
#img1 {
width: 300px;
height: 169.750;
border: solid skyblue 5px;
}
#img2 {
    width: 300px;
    height: 168px;
}
#img3 {
    width: 300px;
    height: 168px;
}
#img4 {
    width: 300px;
    height: 168px;
}
